{% include "header.html" %}

<!-- Page Header -->

<div class="container">
    <h3>Things</h3>
    {% for thing in things %}
        <div class="post-preview">
            <p>{{ thing.title }} {{ thing.amount }} <a href="{{url_for('delete_thing', thing_id=thing.id) }}">✘</a> </p>
        </div>
    <hr>
    {% endfor %}
</div>
<hr>
<div class="container">
    <h3>Users</h3>
    {% for user in users %}
        <div class="post-preview">
            <p>{{ user.first_name }} {{ user.last_name }}</p>
        </div>
    <hr>
    {% endfor %}
</div>



{% include "footer.html" %}