{% include "header.html" %}

<!-- Page Header -->
<header class="" style="background-image: url('https://images.unsplash.com/photo-1649467625747-7de5696ff70f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2026&q=80')">
    <div>
        <h1>Home Assistant</h1>
    </div>
</header>
<div>
    <a href="{{ url_for('about') }}">О нас</a>
    <a href="{{ url_for('register_user') }}">Регистрация нового пользователя</a>
    <a href="{{ url_for('register_thing') }}">Создание новой вещи</a>
    <a href="{{ url_for('register_category') }}">Создание новой категории</a>

</div>

<div>
    {% for thing in things %}
        <div class="post-preview">
            <p>{{ thing.title }} <a href="{{url_for('delete_thing', thing_id=thing.id) }}">✘</a> </p>
        </div>
    <hr>
    {% endfor %}
</div>
    <hr>
<div>
    {% for user in users %}
        <div class="post-preview">
            <p>{{ user.first_name }}</p>
        </div>
    <hr>
    {% endfor %}
</div>



{% include "footer.html" %}