{% include "header.html" %}

<!-- Page Header -->

<div class="container">
    <h3>Things</h3>
    {% for thing in things %}
        <div class="post-preview">
            {% for cat in category %}
                {% if cat.id == thing.category_id %}
                    {{ cat.title_category }}
                {% endif %}
            {% endfor %}
            <a href="{{url_for('show_thing', thing_id=thing.id) }}"><h5>{{ thing.title }} {{ thing.amount }}</h5></a>
            <a href="{{url_for('delete_thing', thing_id=thing.id) }}">✘</a>
        </div>
    <hr>
    {% endfor %}
</div>
<hr>
{% include "footer.html" %}