{% include "header.html" %}

<!-- Main Content -->
<div class="container">
    <div class="col-sm-10 mx-auto">
        <form method="POST" action="{{ url_for('register_thing') }}" novalidate class="form-contact">
            {{ form.csrf_token }}
            <p>{{ form.category_id.label }}{{ form.category_id }}
            <p>{{ form.title.label }}{{ form.title(size=20) }}
            <p>{{ form.description.label }}{{ form.description(size=20) }}
            <p>{{ form.dimension.label }}{{ form.dimension }}
            <p>{{ form.amount.label }}{{ form.amount(size=20) }}
            <p>{{ form.started.label }}{{ form.started(size=20) }}
            <p>{{ form.submit(size=20) }}
        </form>
    </div>
</div>

{% include "footer.html" %}